<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{subject}}</title>
    <link rel="stylesheet" href="css/general.css">
  </head>
  <body>
    <div class='container'>
      <div class='header'>
        <div class='logo'>{{appName}}</div>
      </div>
      <div class='content'>
        <h1 class='title'>{{title}}</h1>
        <p class='message'>{{message}}</p>
        {{#if buttonUrl}}
          <a href='{{buttonUrl}}' class='button'>{{buttonText}}</a>
        {{/if}}
      </div>
      <div class='footer'>
        <p>{{appName}}</p>
        <p>©️ {{year}} {{companyName}}</p>
        {{#if helpUrl}}
          <p><a href='{{helpUrl}}'>Help Center</a></p>
        {{/if}}
      </div>
    </div>
  </body>
</html>